/* Root Variables */
:root {
  --background: black;
  --midtone: #222222;
  --foreground: white;
  --contrast: red;
  font-size: 2vh;
  font-family: Georgia, serif;
}

/* Global Styles */
body {
  background: var(--midtone);
  color: var(--foreground);
  margin: 0;
  font-family: inherit;
}

h1, h2 {
  
  text-align: center;
  font-family: 'FSBI', serif;
  font-style: italic;
  color: var(--contrast);
  text-shadow: 1px 1px 1px black;
}

a {
  color: var(--contrast);
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

a:hover {
  background-color: var(--contrast);
  color: var(--background);
}

p {
  padding: 0.5em;
}


/* Classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal:not(:target) { display: none; }

/* Media Queries */
@media only screen and (max-width: 866px) {
  :root {
    font-size: 2.5vh;
  }

  #content {
    margin: 1em;
    max-width: 10p%;
  }

  p {
    text-align: justify;
  }
}

footer {
  background-color: #222222;
  color: #ffffff;
  padding: 2em;
  text-align: center;
}

footer p {
  margin-bottom: 0.5em;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

footer a:hover {
  color: #cccccc;
}


.content {
  width: 80%;
  margin: 10px 40px 20px 10px;
  padding: 0 20px;
}

@media only screen and (max-width: 600px) {
  /* Styles for screens less than 600px wide */
  .content {
    width: 100%;  /* Adjust width for smaller screens */
    margin: 10px;  /* Reduce or adjust margins as needed for smaller screens */
    padding: 10px;  /* Can adjust padding for smaller screens if needed */
  }
}
